:root {
    --button-hover-active-opacity: 0.9;
    --main-font-family: "Source Sans Pro", sans-serif;
    --secondary-font-family: "Spin Cycle", sans-serif;
    --main-thematic-color: #c271ff;
    --main-text-color: white;
    --nav-lr-margin: 10vw
  }

 .image-adjust {
    width: 150px;
    height: 150px;
 }