@font-face {
    font-family: 'holberton_school-icon';
    src: url('fonts/holberton_school-icon.eot');
    src: url('fonts/holberton_school-icon.eot') format('embedded-opentype'), url('fonts/holberton_school-icon.ttf') format('truetype'), url('fonts/holberton_school-icon.woff') format('woff'), url('fonts/holberton_school-icon.svg') format('svg');
}



}
body {
    font-family: 'Source Sans Pro';
    overflow-x: hidden;
    max-width: 100;
    max-height: 100; }

    .bg-purple {
        background-color: #C271FF;
    }
    .text-purple {
        color: #C271FF;
    }
    
    button{
        border:none;
    }
    button:hover{
        opacity: 0.9;
    }

    h2{
        font-weight: lighter !important;
    }
    h3{
        font-weight: bold !important;
        font-size: 18px !important;
    }
    h4 {
        font-weight: bold !important;
        font-size: 16px !important;
    }
    h6 {
        font-weight: 300px;
        font-size: 24px;
        font-family: source sans pro; }

        .smile-logo {
            width: 90px !important;
        }
    
        
        
        .smile-logo {
            width: 90px !important;
        }
        
        .hero{
            height: 95vh;
        }
        .hero-faq{
            height: 95vh;
        }
        .hero-courses{
            height: 30vh !important;
        
        }
        .menu-hero{
            background-image: url('images/pic_1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }