:root {
    --button-hover-active-opacity: 0.9;
    --main-font-family: "Source Sans Pro", sans-serif;
    --secondary-font-family: "Spin Cycle", sans-serif;
    --main-thematic-color: #c271ff;
    --main-text-color: white;
    --nav-lr-margin: 10vw
  }

  body {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
  }
  body ul {
    text-decoration: none;
  }
  

  @font-face {
    font-family: "holberton_school-icon";
    src: url("fonts/holberton_school-icon.eot?sq4eq4");
    src: url("fonts/holberton_school-icon.eot?sq4eq4#iefix")
        format("embedded-opentype"),
      url("fonts/holberton_school-icon.ttf?sq4eq4") format("truetype"),
      url("fonts/holberton_school-icon.woff?sq4eq4") format("woff"),
      url("fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block; }

 .image-adjust {
    width: 150px;
    height: 150px;
 }

 .btn-custom {
    background-color:#c271ff;
    color: white;
 }

 .text-custom {
    color:#c271ff;
 }

 